<div>
  <h5>Adicionar comentário</h5>
  <%= form_with model: [@post,@post.comments.build], class: "d-flex"  do |form| %>
    <%= form.text_field :body, class:"form-control"%>
    <%= form.submit "Comentar", class:"btn btn-primary" %>
  <% end %>
</div>
