<div>
  <% unless @comments.empty? %>
    <h3>Comentários</h3>
  <% end %>
  <div>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div>
</div>