<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render 'card', post: post %>
  <% end %>
</div>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>